* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}


body {
    background: linear-gradient(130deg, #1e7249 0%, #1e7249 100%);
    overflow-x: hidden;
    color: #000000;
}


.cabecalho {
    
    background: linear-gradient(130deg, #0d3120 0%, #1e7249 100%);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    position: sticky;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 0px;   

}

.menunav {
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 1%; 

}

.logo {
    display: flex;
    justify-content: space-between;
}


.titulo {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sobre {
    display: flex;
    justify-content: center;
    background-image: url('./Imagens/foto\ fundo\ sobre.png');
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-size: cover;
    padding: 150px;
}

.intern-text {
    text-align: center;
    color: #ffffff;
    width: 90%; 
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 10px;
    align-items: center;
  
}


.carrocel {
    padding: 150px;
}

.carousel-inner {
    height: 50%;
}

